.nav-link {
    font-size: 28px;
    color: white;
}

.nav-item {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.navbar-brand {
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.bg-dark {
    background-color: black;
}

.black {
    background-color: black;
}

.bold {
    font-weight: bolder;
}

h1 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    font-size: 50px;
}

@media screen and (max-width : 991px) {
    h1 {
        font-size: 40px;
    }
}

.cardTitle {
    font-size: 50px;
}

.cardCaption {
    font-size: 25px;
}